.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 8px 10px;
    margin: 10px;
    font-weight: 400;
    display: inline-block;;
}

.Button:first-of-type {
    margin-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    padding: 7px 25px;
    background-color: red;
    border-radius: 100px;
}

.Danger {
    background-color: #944317;
}
.Info {
    color: #58586f;
}
.btn-success {
    background-color: #3c763d;
    padding: 5px 20px;
    border-radius: 5px;
}
.btn-info {
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 5px 20px;
    border-radius: 5px;
}