.home-page{
    height: 70vh;
}
@media (max-width: 767px) {
    .home-page{
        height: 100%;
    }
  }

.item-content {
    padding-top: 15px;
    display: flex;
    /* min-height: 75vh; */
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 767px) {
    .item-content {
        justify-content: center;
    }
  }
.close-container {
    text-align: right;
    width: 100%;
}
.close-link {
    cursor: pointer;
    color: blue;
    display: inline-block;padding-right: 15px;
}