#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff
  }

  .msg {
    color: #757575;
    font: 20px/20px Arial, sans-serif;
    letter-spacing: .2px;
    text-align: center
  }

  #nlpt {
    animation: a-s .5s 2.5s 1 forwards;
    background-color: #f1f1f1;
    height: 4px;
    margin: 56px auto 20px;
    opacity: 0;
    overflow: hidden;
    position: relative;
    width: 300px
  }

  #nlpt::before {
    animation: a-lb 20s 3s linear forwards;
    background-color: #db4437;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transform: translateX(-300px);
    width: 100%
  }

  @keyframes a-lb {
    0% {
      transform: translateX(-300px)
    }

    5% {
      transform: translateX(-240px)
    }

    15% {
      transform: translateX(-30px)
    }

    25% {
      transform: translateX(-30px)
    }

    30% {
      transform: translateX(-20px)
    }

    45% {
      transform: translateX(-20px)
    }

    50% {
      transform: translateX(-15px)
    }

    65% {
      transform: translateX(-15px)
    }

    70% {
      transform: translateX(-10px)
    }

    95% {
      transform: translateX(-10px)
    }

    100% {
      transform: translateX(-5px)
    }
  }

  @keyframes a-s {
    100% {
      opacity: 1
    }
  }

  @keyframes a-h {
    100% {
      opacity: 0
    }
  }

  @keyframes a-nt {
    100% {
      transform: none
    }
  }
/* 
  @keyframes a-es {
    24% {
      animation-timing-function: cubic-bezier(.8, 0, .6, 1);
      transform: rotate(-25deg)
    }

    52% {
      animation-timing-function: cubic-bezier(.63, 0, .2, 1);
      transform: rotate(-42.5deg)
    }

    83% {
      animation-timing-function: cubic-bezier(.8, 0, .84, 1);
      transform: rotate(-42deg)
    }

    100% {
      transform: rotate(-43deg)
    }
  } */
.loader-brand-logo {
    position: relative;
    animation: logomove 5s infinite;
    border-radius: 10px;
}
@keyframes logomove {
    0%   {width: 0px; height:0px;}
    100% {width: 100px; height:100px;}
  }

  .loader-content {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      position: absolute;
      top:15%;
      left:38%;
      animation: roundmove 1s;
      animation-delay: 4s;
  }

  @keyframes roundmove {
    0%   {background: #e0e0e0; transform: scale(0.0); opacity: 0.6;}
    50%   {background: #e0e0e0; transform: scale(1.2); opacity: 0.6;}
    100% {background: #e0e0e0; transform: scale(1.0); opacity: 0;}
  }